.MyImage{
    background-image: url("img/bggif3.gif");
    background-repeat: no-repeat;
    opacity: 2;
    background-size: cover;
   
}


.MainSectionContainerRight{
    background-color: #F0EAF0;
}



.paraHome{
    text-align: justify;
}


.SectionRightContentHeading{
    margin-top: 35px;
    
}
.SectionRightContentHeadingAnim{
    animation-name: anim1;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-delay: 0.2s;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes anim1{
    from{
       margin-top:1000px;
       
    }

    to{
        margin-top: 35px;
        
        
    }
}








    .whatToDo1{
        background-color: rgb(250, 246, 246);
        border-bottom: 2px solid blue;
        margin-top: 0px;
       
    }
    
    .whatToDo2{
        background-color: rgb(250, 246, 246);
        border-left: 2px solid green;
        border-top: 2px solid green;
    }
    
    .whatToDo3{
        background-color: rgb(250, 246, 246);
        border-left: 2px solid orangered;
        border-bottom: 2px solid orangered;
       
    }
    
    .whatToDo4{
        background-color: rgb(250, 246, 246);
        border-left: 2px solid rgb(238, 17, 17);
        border-top: 2px solid rgb(238, 17, 17);;
       
    }
  





  @media (min-width: 576px) and (max-width: 800px) {
    .whatToDo1{
        background-color: rgb(250, 246, 246);
        border-bottom: 2px solid blue;
       
       
    }
    
    .whatToDo2{
        background-color: rgb(250, 246, 246);
        border-bottom: 2px solid green;
        border-left: none;
    }
    
    .whatToDo3{
        background-color: rgb(250, 246, 246);
        
        border-bottom: 2px solid orangered;
        border-left: none;
       
    }
    
    .whatToDo4{
        background-color: rgb(250, 246, 246);
        border-bottom: none;
        border-left: none;
       
    }
  }




  .stagePara{
      text-align: justify;
      
  }