.topIcon {
    display: none;
}


@media (min-width: 576px) and (max-width: 800px) {
    .topIcon {
        display: block;

    }


    .topIcon:hover {
        color: blue;
    }
}













.introMyRighttext {
    font-size: 20px;
    font-weight: 600;
}

@media (min-width: 576px) and (max-width: 800px) {
    .introMyRighttext {
        font-size: 16px;
        font-weight: 600;
    }
}






.objective {
    margin-top: 246px;
    margin-left: 47px;
    width: 410px;
    position: absolute;

}


@media (min-width: 576px) and (max-width: 800px) {
    .objective {
        margin-top: 521px;
        margin-left: 10px;
        width: 410px;
        position: absolute;

    }
}

.objective_para {
    text-align: justify;
    color: rgb(15, 2, 35);
    font-weight: 500;
    background-color: #ddd;
    border-radius: 2%;
    margin-right: 2px;
    margin-left: 2px;
    padding: 10px;
    border-right: 3px solid #0DCAF0;
    border-left: 3px solid #0DCAF0;
    font-style: italic;
}


.quaIcon {
    font-size: 15px;
}




.downloadCv {
    position: absolute;
    margin-top: 404px;
    margin-left: 47px;
}

@media (min-width: 576px) and (max-width: 800px) {
    .downloadCv {
        margin-top: 471px;
        margin-left: 10px;

        position: absolute;

    }
}




.text {
    display: flex;
    /* align-items: center;
    justify-content: center; */
    min-height: 100vh;
    box-sizing: border-box;
    /* background-color: #343F4F; */

    background-image: url("img/pappuback.jpg");
    background-repeat: no-repeat;

    background-size: cover;


}

@media (min-width: 576px) and (max-width: 800px) {
    .text {
        display: flex;
        /* align-items: center;
        justify-content: center; */
        min-height: 100vh;
        box-sizing: border-box;
        /* background-color: #343F4F; */

        background-image: url("img/pappuback.jpg");
        background-repeat: no-repeat;

        background-size: cover;


    }
}




.wrapper {
    display: inline-flex;
}

@media (min-width: 576px) and (max-width: 800px) {
    .wrapper {
        display: inline;
    }
}




.wrapper .static_text {
    color: white;
    font-size: 40px;
    font-weight: 800;
    margin-top: 86px;

}


@media (min-width: 576px) and (max-width: 800px) {
    .wrapper .static_text {
        color: white;
        font-size: 25px;
        font-weight: 800;
        margin-left: -3px;
        margin-top: 35px;

    }
}









.wrapper .dynamic_text {
    margin-left: 15px;
    line-height: 90px;

    height: 90px;
    overflow: hidden;
    margin-top: 70px;
}


@media (min-width: 576px) and (max-width: 800px) {
    .wrapper .dynamic_text {
        margin-left: 85px;
        line-height: 90px;

        height: 90px;
        overflow: hidden;
        margin-top: -63px;
    }
}





.dynamic_text li {
    color: white;
    list-style: none;
    font-size: 60px;
    font-weight: 800;
    animation: slide 6s steps(4) infinite;
    position: relative;
    top: 0;

}



@media (min-width: 576px) and (max-width: 800px) {
    .dynamic_text li {
        color: white;
        list-style: none;
        font-size: 25px;
        font-weight: 800;
        animation: slide 6s steps(4) infinite;
        position: relative;
        top: 0;
        margin-left: -25px;

    }
}








@keyframes slide {
    100% {
        top: -360px;
    }

}

@media (min-width: 576px) and (max-width: 800px) {

    @keyframes slide {
        100% {
            top: -360px;
        }

    }

}





.dynamic_text li span {
    position: relative;
}

.dynamic_text li span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    border-left: 2px solid #FC6D6D;
    background: white;


    animation: typing 1.5s steps(5) infinite;

}


@media (min-width: 576px) and (max-width: 800px) {

    .dynamic_text li span::after {
        content: "";
        position: absolute;
        left: 0;
        top: 4px;
        height: 100%;
        width: 100%;
        border-left: 2px solid #FC6D6D;
        background: white;
        animation: typing 1.5s steps(5) infinite;

    }


}








@keyframes typing {

    40%,
    60% {
        left: calc(100% + 1110px);
    }

    100% {
        left: 0;
    }
}









































.MyMenuStyle {
    background-color: #131022;
}




.stickyMenuBig {

    position: -webkit-sticky;
    position: sticky;
    top: 0;

}










.MyImage {
    /* background-image: url("img/biggif4.gif");
    background-repeat: no-repeat;
    opacity: 2;
    background-size: cover; */

    /* background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%); */

    /* background-color: #FFDEE9;
   background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%); */

    background-color: #131022;




}


.MainSectionContainerRight {
    background-color: #F0EAF0;
}



.paraHome {
    text-align: justify;
}


.SectionRightContentHeading {
    margin-top: 35px;

}

.SectionRightContentHeadingAnim {
    animation-name: anim1;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-delay: 0.2s;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes anim1 {
    from {
        margin-top: 1000px;

    }

    to {
        margin-top: 35px;


    }
}

/* About Section */


.togglePara {
    text-align: justify;

}

.myToggle {
    background-color: #ddd;
    border-radius: 3%;
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.myToggle p {
    font-weight: 400;
}


@media (min-width: 576px) and (max-width: 800px) {
    .myToggle {
        background-color: #ddd;
        width: 300px;
        border-radius: 3%;

    }

    .allToogle {
        display: none;
    }

}





.whatToDo1 {
    background-color: rgb(250, 246, 246);
    border-bottom: 2px solid blue;
    margin-top: 0px;

}

.whatToDo2 {
    background-color: rgb(250, 246, 246);
    border-left: 2px solid green;
    border-top: 2px solid green;
}

.whatToDo3 {
    background-color: rgb(250, 246, 246);
    border-left: 2px solid orangered;
    border-bottom: 2px solid orangered;

}

.whatToDo4 {
    background-color: rgb(250, 246, 246);
    border-left: 2px solid rgb(238, 17, 17);
    border-top: 2px solid rgb(238, 17, 17);
    ;

}






@media (min-width: 576px) and (max-width: 800px) {
    .whatToDo1 {
        background-color: rgb(250, 246, 246);
        border-bottom: 2px solid blue;


    }

    .whatToDo2 {
        background-color: rgb(250, 246, 246);
        border-bottom: 2px solid green;
        border-left: none;
    }

    .whatToDo3 {
        background-color: rgb(250, 246, 246);

        border-bottom: 2px solid orangered;
        border-left: none;

    }

    .whatToDo4 {
        background-color: rgb(250, 246, 246);
        border-bottom: none;
        border-left: none;

    }
}











/* service section */
#serviceSection {
    /* background-color: #131022; */

    background: #136a8a;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #267871, #136a8a);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #267871, #136a8a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.stagePara {
    text-align: justify;
    border-left: 4px solid #0EC1E3;

    padding: 10px;

}


@media (min-width: 576px) and (max-width: 800px) {
    .eduTableBody {
        overflow: scroll;

    }

}

/* service section end */







/* Education section Start */

#educationalQualification {
    background-color: white;

}

.eduqualback {
    /* background-color: #6366F1; */
    height: 800px;

    background: #136a8a;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #267871, #136a8a);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #267871, #136a8a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}




@media (min-width: 576px) and (max-width: 800px) {
    .eduqualback {
        background-color: #6366F1;
        height: 700px;

    }

}

@media (min-width: 576px) and (max-width: 800px) {
    .eduqualback {
        background-color: #6366F1;
        height: 800px;

    }

}





.eduBack1Anim {
    animation-name: animEduBack1;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-delay: 0.1s;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes animEduBack1 {
    from {
        margin-top: 1000px;
    }

    to {
        margin-top: 0px;
    }
}


.eduBack2Anim {
    animation-name: animEduBack2;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-delay: 0.2s;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes animEduBack2 {
    from {
        margin-top: 1000px;
    }

    to {
        margin-top: 0px;
    }
}


.eduBack3Anim {
    animation-name: animEduBack3;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-delay: 0.3s;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes animEduBack3 {
    from {
        margin-top: 1000px;
    }

    to {
        margin-top: 0px;
    }
}

.eduBack4Anim {
    animation-name: animEduBack4;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-delay: 0.4s;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes animEduBack4 {
    from {
        margin-top: 1000px;
    }

    to {
        margin-top: 0px;
    }
}

/* Education section end */




/* <!-- -----Skills Section Start--------- --> */
.skillsHeading {
    text-align: center;
    padding: 20px;
    font-weight: 500;
    font-size: 40px;

}



#skillsSction {
    background-color: #F9F9F9;
    height: 750px;
}

@media (min-width: 576px) and (max-width: 800px) {
    #skillsSction {
        background-color: #F9F9F9;
        height: auto;
    }
}



.myCard {
    height: auto;
}

@media (min-width: 576px) and (max-width: 800px) {
    .myCard {
        height: auto;
    }
}



.myCardSkills1 {
    border-radius: 3%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-top: 2px solid #FF0066;

}

.myCardSkills1:hover {
    box-shadow: rgba(104, 118, 248, 0.322) 0px 54px 55px, rgba(104, 118, 248, 0.322) 0px -12px 30px, rgba(104, 118, 248, 0.322) 0px 4px 6px, rgba(104, 118, 248, 0.322) 0px 12px 13px, rgba(104, 118, 248, 0.322) 0px -3px 5px;
}

.myCardSkills2 {
    border-radius: 3%;
    border-bottom: 2px solid #FF0066;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.myCardSkills2:hover {
    box-shadow: rgba(104, 118, 248, 0.322) 0px 54px 55px, rgba(104, 118, 248, 0.322) 0px -12px 30px, rgba(104, 118, 248, 0.322) 0px 4px 6px, rgba(104, 118, 248, 0.322) 0px 12px 13px, rgba(104, 118, 248, 0.322) 0px -3px 5px;
}

.myCardSkills3 {
    border-radius: 3%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-top: 2px solid #FF0066;
}

.myCardSkills3:hover {
    box-shadow: rgba(104, 118, 248, 0.322) 0px 54px 55px, rgba(104, 118, 248, 0.322) 0px -12px 30px, rgba(104, 118, 248, 0.322) 0px 4px 6px, rgba(104, 118, 248, 0.322) 0px 12px 13px, rgba(104, 118, 248, 0.322) 0px -3px 5px;
}

.myCardTitle {
    font-size: 30px;
    margin-top: -20px;
}

.skillsIcon {
    text-align: center;
    padding: 30px;
    font-size: 50px;
    margin-top: 10px;
    color: #FF0066;
}

.cardBody {
    text-align: center;
    padding: 20px;
}







/* portfolio section */


#portfolioSection {
    /* background-image: url("img/portfoliobg3.gif");
    background-size: cover;
    background-repeat: no-repeat; */

    background: #136a8a;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #267871, #136a8a);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #267871, #136a8a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}







@media (min-width: 576px) and (max-width: 800px) {
    #portfolioSection {
        /* background-image: url("img/portfoliobg3.gif");
        background-size: cover;
        background-repeat: no-repeat; */
        background: #136a8a;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #267871, #136a8a);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #267871, #136a8a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        

    }
}

.myPortfolio1 {
    border-radius: 2%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    /* border-top: 3px solid #FF0066; */
    border-top: 4px solid blue;

}

.myPortfolio1:hover {
    box-shadow: rgba(104, 118, 248, 0.322) 0px 54px 55px, rgba(104, 118, 248, 0.322) 0px -12px 30px, rgba(104, 118, 248, 0.322) 0px 4px 6px, rgba(104, 118, 248, 0.322) 0px 12px 13px, rgba(104, 118, 248, 0.322) 0px -3px 5px;
}

.myPortfolio2 {
    border-radius: 2%;
    /* border-bottom: 3px solid #FF0066; */
    border-bottom: 4px solid blue;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.myPortfolio2:hover {
    box-shadow: rgba(104, 118, 248, 0.322) 0px 54px 55px, rgba(104, 118, 248, 0.322) 0px -12px 30px, rgba(104, 118, 248, 0.322) 0px 4px 6px, rgba(104, 118, 248, 0.322) 0px 12px 13px, rgba(104, 118, 248, 0.322) 0px -3px 5px;
}

.myPortfolio3 {
    border-radius: 2%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    /* border-top: 3px solid #FF0066; */
    border-top: 4px solid blue;
}

.myPortfolio3:hover {
    box-shadow: rgba(104, 118, 248, 0.322) 0px 54px 55px, rgba(104, 118, 248, 0.322) 0px -12px 30px, rgba(104, 118, 248, 0.322) 0px 4px 6px, rgba(104, 118, 248, 0.322) 0px 12px 13px, rgba(104, 118, 248, 0.322) 0px -3px 5px;
}


.MycardPortfolio1 {
    height: 440px;
}

@media (min-width: 576px) and (max-width: 800px) {
    .MycardPortfolio1 {
        height: 484px;
    }
}









.certicationHeading {
    background-image: url("img/certification2.gif");
    background-repeat: no-repeat;
    background-size: cover;

}








/* ContactMeSection */
/* .contactHeading{
    background-image:url("img/ContactMeHeadinggif.gif") ;
    background-repeat: no-repeat;
    background-size: cover;
} */

#ContactMeSection {
    background-color: #131022;
}

.contactmeImage {
    height: 870px;
    width: 300px;
    margin-top: 20px;
    margin-left: 140px;
}

@media (min-width: 576px) and (max-width: 800px) {
    .contactmeImage {
        height: 500px;
        width: 185px;
        margin-top: 410px;
        margin-left: 20px;
    }
}

.ContactMerightForm {
    background-color: #2A2838;
    padding: 55px;
    max-width: 500px;
    height: auto;
    margin-top: 20px;
    border-radius: 3%;
}


@media (min-width: 576px) and (max-width: 800px) {
    .ContactMerightForm {
        background-color: #2A2838;
        padding: 35px;
        max-width: 500px;
        height: auto;
        margin-top: 110px;
        margin-left: -30px;
        border-radius: 3%;
    }

}

.mySignUpform {
    width: 400px;
}


.contactHeading {
    color: white;
    text-align: center;

    padding: 170px;
    font-size: 50px;
}




@media (min-width: 576px) and (max-width: 800px) {
    .contactHeading {
        color: white;
        text-align: center;
        padding: 70px;

    }

    .mySignUpform {
        width: 240px;
    }

}



.contactMebackRightImg {
    width: 390px;
    height: 190px;
    margin-bottom: 30px;
}


@media (min-width: 576px) and (max-width: 800px) {
    .contactMebackRightImg {
        width: 230px;
        height: 150px;
        margin-bottom: 30px;
    }
}



#FooterSection {

    background-color: black;
}

.leftFooter {
    padding: 60px;
}

.topIconfotter {
    font-size: 30px;
    margin-top: 40px;
}


@media (min-width: 576px) and (max-width: 800px) {
    .topIconfotter {
        font-size: 30px;
        margin-top: 5px;
    }
}