.MainSectionContainerRight{
    background-color: #F0EAF0;
}



.paraHome{
    text-align: justify;
}


.SectionRightContentHeading{
    margin-top: 35px;
    
}
.SectionRightContentHeadingAnim{
    animation-name: anim1;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-delay: 0.2s;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes anim1{
    from{
       margin-top:1000px;
       
    }

    to{
        margin-top: 35px;
        
        
    }
}