
 @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@900&display=swap');
*{margin:0;padding:0}
body{
	width: 100%;
	background-color: #f2f2f2;
}

.title{
	font-family: 'Libre Baskerville', serif;
	position: absolute;
	display: block;
	margin-top: -36px;
	margin-left: 19px;
	font-size: 19px;
	color: #000066;
	
}

.image_icon a img{
	width: 93px;
	height: 45px;
	position: absolute;
	padding: 10px;
	margin-left: 658px;
	display: block;
	margin-top: -58px;
	border-radius: 5%;

}

.image_icon a img:hover{
	width: 100px;
	height: 55px;
	background-color: white;
	border-radius: 5%;
	z-index: 10;
}





.menu{
 min-height: 54px;
 background-color:  #1a1aff;
 width: 100%;
 margin-top: 50px;
 z-index: 5;

}


.menu ul li{
	float: left;
    list-style-type: none;
    position: relative;
   
   

    
}

.li_first{
	margin-left: 276px;
}

.menu ul li a{
	color:#190101;
	text-decoration: none;
	padding: 11px 16px;
	display: block;
	font-size: 20px;
	font-family: 'Libre Baskerville', serif;
	text-align: center;
}

.menu ul li a:hover{
	color: blue;
}

.border_top{
	border-top: 2px solid black;
}

.li_width1{
	width: 192px;
	background-color: #b3c6ff;
}

.li_width1:hover{
	background-color: white;

}



.menu li ul li{
	float: none;
	width: 192px;
	z-index: 1500;
	position: relative;
	
}

.menu li ul {
	list-style-type: none;
	padding: 0;
	position: absolute;
	left: -99999px;
}

.menu li ul:hover{
	background-color: #4d79ff; ;
}

.menu li:hover ul{
	left: 0;
}

.menu li ul li ul{
	position: absolute;
	top: -99999px;
	width: 192px;
	z-index: 1500;

}

.menu li ul li ul li{
	border-left: 2px solid black;
}


.menu li ul li:hover ul{
	top: 0px;
	left: 192px;
}



/*---------------------------under menu-------------------------*/



.menu2{
 min-height: 45px;
 background-color:  #f2f2f2;
 width: 100%;
 margin-top: 0px;
}


.menu2 ul li{
	float: left;
    list-style-type: none;
    border-right: 1px solid black;
    
}

.menu2 ul li:last-child{
	border-right: none;
}

.li_second{
	margin-left: 269px;
}

.menu2 ul li a{
	color:black;
	text-decoration: none;
	padding: 11px 16px;
	display: block;
	font-size: 16px;
	font-family: 'Libre Baskerville', serif;
	text-align: center;
}

.menu2 ul li a:hover{
	color: blue;
}



.li_width2{
	width: 190px;
	background-color: white;
}

.li_width2:hover{
	background-color: white;
}



/*---------------------------Section-------------------------*/
#wrapper{
	z-index: 1200;
}

.aau{
	position: absolute;
   font-family: 'Merriweather', serif;
   margin-left: 1228px;
   margin-top: 27px;
   font-size: 91px;
   color: white;
   z-index: 1500;

}











.apply {
	padding: 4px 28px;
	background-color: #809fff;
	font-size: 20px;
	position: absolute;
	margin-left: 1202px;
	z-index: 1500;
	display: block;
	margin-top: 156px;
	border: 2px solid white;
	text-decoration: none;


}

.apply a{
	color: #000066;
}

.apply:hover{
	background-color:white; 
}

.contact {
	padding: 4px 28px;
	background-color: #809fff;
	font-size: 20px;
	position: absolute;
	margin-left: 1324px;
	z-index: 1500;
	display: block;
	margin-top: 156px;
	border: 2px solid white;


}
.contact:hover{
	background-color: white;
}

.contact a{
	color: #000066;
}





/*---------------------------Content-------------------------*/

.notice_head{
	position: absolute;
	font-size: 32px;
	margin-top: -51px;
	text-decoration: underline;
	color: #3333ff;
}
.date{
	width: 54px;
	height: 40px;
	background-color: #ff4d4d;
	margin-right: 15px;
	float: left;
	display: block;
	margin-left: 7px;
	margin-top: 3px;
	border-radius: 10%;
	
}

.date p{
   margin-top: 7px;
   font-size: 14px;
   color: white;
   text-align: center;
}
.main_notice{
	margin-left: 114px;
	width: 550px;
	overflow: scroll;
	float: left;
	
	margin-top: 30px;
	height: 700px;


  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,f1f1f1+50,e1e1e1+51,f6f6f6+100;White+Gloss+%231 */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(45deg,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.notice_section{
	width: 550px;
	height: 46px;
	background-color: #d9d5d4;
	margin-bottom: 8px;
}


.notice_section:hover{
	width: 550px;
	height: 50px;
	border: 2px solid #ddd;
}

.notice_section a{
	text-decoration: none;
	
	text-align: center;
	
	font-size: 23px;
	color: black;
	margin-top: 5px;

}

.notice_section a:hover{
	color: blue;
}




.Title_head{
	position: absolute;
	font-size: 32px;
	margin-top: -42px;
	text-decoration: underline;
	color: #1f54a4;
	margin-left: 41px;
}

.Title_head p{
	margin-top: -7px;
	margin-left: 124px;
}


.Social_media{
	
	margin-left: 739px;
	margin-top: 31px;
	position: absolute;
	width: 678px;
	height: auto;
	


  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,f1f1f1+50,e1e1e1+51,f6f6f6+100;White+Gloss+%231 */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(45deg,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.social_media_content video{
	width: 678px;
	height: 336px;
	margin-bottom: 14px;
}






.news_title{
	position: absolute;
	font-size: 32px;
	margin-top: 2px;
	text-decoration: underline;
	color: #1f54a4;
	margin-left:2px;;
}

.news_title p{
	margin-top: -7px;
	margin-left: 124px;
}






.news{
	
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,f1f1f1+50,e1e1e1+51,f6f6f6+100;White+Gloss+%231 */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(45deg,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	width: 100%;
	height: auto;
	
	display: block;

	margin-top: 764px;
	
}

.news_section{
	width: 335px;
	
	height: 193px;
	margin-top: 53px;
	float: left;
	margin-right: -120px;
	margin-left: 118px;
}

.news_section img{
  width: 300px;
  height: 150px;
}

.news_section img:hover{
	border: 4px solid blue;
	width: 305px;
  height: 155px;
}

.news_section p{
	font-family: 'Libre Baskerville', serif;
	font-size: 18px;
	
}

.news_section p:hover{
	color: blue;
}


.facts{
	width: 100%;
	height: 963px;
  background-image: url("img/student.jpg");
  background-attachment: fixed;
  background-size: 100%;
  overflow: hidden;
  margin-left: 0px;
  display: inline-block;
  margin-top: 45px;
  position: relative;
}

.facts_content{
	width: 100%;
	height: 400px;
	background-color:#f5f5f0;
	opacity: 50%;
	position: absolute;
}

.title_facts{
	font-size: 27px;
	font-family: 'Merriweather', serif;
	font-weight: bold;
	color: blue;
	margin-left: 158px;
	text-decoration: underline;

}

.facultyNumber{
	font-size: 146px;
	font-family: 'Be Vietnam Pro', sans-serif;
	font-weight: bold;
	color: blue;
	margin-left: 286px;

}

.faculty_schools{
  font-size: 30px;
	font-family: 'Be Vietnam Pro', sans-serif;
	font-weight: bold;
	color: blue;
	margin-left: 232px;
}

.gra{
	margin-left: 951px;
	font-size: 30px;
	font-family: 'Be Vietnam Pro', sans-serif;
	font-weight: bold;
	color: blue;
	position: absolute;
	margin-top: -47px;
}




.title_faculties{
 font-family: 'Be Vietnam Pro', sans-serif;
 font-size: 37px;
 font-weight: bold;
 color: blue;
 margin-left: 77px;
 position: absolute;
 margin-top: 11px;
 text-decoration: underline;
}


.faculties{
	width: 100%;
	height: 563px;

	display: inline-block;
	margin-top: 400px;

	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,f1f1f1+50,e1e1e1+51,f6f6f6+100;White+Gloss+%231 */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(45deg,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}


.faculties_content{
	width: 281px;
  height: 234px;
  
  margin-left: 79px;
  margin-top: 81px;
  margin-right: 5px;
  float: left;

  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,f1f1f1+50,e1e1e1+51,f6f6f6+100;White+Gloss+%231 */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(45deg,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}


.faculties_content p{
  font-size: 20px;
  background-color: #eb1e33;
  text-decoration: none;


}


.faculties_content p:hover{
	width: 281px;
	height: 60px;
	border: 5px solid #fa6b7a;

}
.faculties_content p a{
	font-family: 'Be Vietnam Pro', sans-serif;
	color: white;
}
.faculties_content p a: hover{
	color: blue;
}

.faculties_content img{
	width: 281px;
	height: 214px;
}



.main_footer{
	width: 100%;
	height: 300px;
	background-color: black;

	
}

.logo_footer{
	background-color: black;
	width: 300px;
	height: 300px;

	margin-left: 89px;
}

.logo_footer p{
	color: white;
}

.list_footer{
	width: 1122px;
	height: 270px;
	background-color: black;
	margin-left: 308px;
	margin-top: -230px;
	position: absolute;

}

.list_footer ul{
	list-style-type: none;
}

.list_footer ul li{
  
}
.list_footer ul li a{
   text-decoration: none;
   color: #adad85;
   font-size: 20px;
   margin-bottom: 3px;

}

.list_footer ul li a:hover{
	text-decoration: underline;
	color: white;
}

.list_footer2{
	width: 1122px;
	height: 270px;
	background-color: black;
	margin-left: 553px;
	margin-top: -230px;
	position: absolute;

}

.list_footer2 ul{
	list-style-type: none;
}

.list_footer2 ul li{
  
}
.list_footer2 ul li a{
   text-decoration: none;
   color: #adad85;
   font-size: 20px;
   margin-bottom: 3px;

}

.list_footer2 ul li a:hover{
	text-decoration: underline;
	color: white;
}






.list_footer3{
	width: 1122px;
	height: 270px;
	background-color: black;
	margin-left: 909px;
	margin-top: -230px;
	position: absolute;

}

.list_footer3 ul{
	list-style-type: none;
}

.list_footer3 ul li{
  
}
.list_footer3 ul li a{
   text-decoration: none;
   color: #adad85;
   font-size: 20px;
   margin-bottom: 3px;

}

.list_footer3 ul li a:hover{
	text-decoration: underline;
	color: white;
}



.sub_footer{
	width: 100%;
	height: 50px;
	background-color: #4d4d33;
}

.sub_footer p{
	color: white;
	font-size: 11px;
	margin-left: 10px;
}

.social_icon{
	position: absolute;
	width: 373px;
	height: 49px;
	background-color: #4d4d33;
	margin-top: -35px;
	margin-left: 1146px;
}

.social_icon img{
	float: left;
	width: 44px;
	height: 44px;
	margin-right: -23px;
	margin-top: 3px;
	margin-left: 38px;
}

.social_icon img:hover{
	width: 49px;
	height: 47px;
   
}


