.animation{
	width: 300px;
	height: 150px;
	background-color: greenyellow;


	animation-name: pappu;
	animation-duration: 3s;
	animation-iteration-count: 10;
	animation-delay: 2s;
	position: relative;
	/*animation-direction: alternate;*/
}

@keyframes pappu{
  
  /*from{
  	background-color: greenyellow;
  }

  to{
  	background-color: lightskyblue;
  	border-radius: 50%;
  	width: 1500px;
  	height: 250px;
  }

  0%{background-color: blanchedalmond; width: 1100px; height: 250px; border-radius: 10%;}
  20%{background-color: deepskyblue; width: 1200px; height: 250px; border-radius: 10%}
  40%{background-color: yellowgreen; width: 1300px; height: 250px; border-radius: 10%}
  60%{background-color: rebeccapurple; width: 1400px; height: 250px; border-radius: 10%}
  80%{background-color: gray; width: 1500px; height: 250px; border-radius: 10%}
  100%{background-color: greenyellow; width: 1000px; height: 250px; border-radius: 10%;}

  from{
    width: 300px;
	height: 150px;
	background-color: greenyellow;
	left: 0;
  }

  to{
  	width: 300px;
	height: 150px;
	background-color: navajowhite;
    left: 1000px;
  }
}




.animation2{
	width: 300px;
	height: 150px;
	background-color: lightskyblue;
	margin-left: 1000px;

	animation-name: pappu2;
	animation-duration: 3s;
	animation-iteration-count: 10;
	animation-delay: 2s;
	position: relative;
	animation-direction: alternate;
}

@keyframes pappu2{
	from{
    width: 300px;
	height: 150px;
	background-color: skyblue;
	right: 0;
  }

  to{
  	width: 300px;
	height: 150px;
	background-color: navajowhite;
    right: 1000px;
  }
}
*/
0%{left: 0; top: 0; background-color:greenyellow ; border-radius: 0%;}
25%{left: 1000px; top: 0; background-color: green; border-radius: 5%;}
50%{top: 300px; left: 1000px; background-color: yellowgreen; border-radius: 10%;}
75%{left: 0; top: 300px; background-color: royalblue; border-radius: 15%;}
100%{left: 0; top: 0; background-color:greenyellow ; border-radius: 0%;}
}

h1{
	font-size: 50px;
	color: darkblue;
	text-align: center;
}