input[type=text],[type=submit],[type=Email],[type=Password],[type=Date],[type=Reset]{
	width: 133px;
    height: 31px;
    border-radius: 8px;
    color: #090111;
    border: 1px solid black;
    font-family: Verdana;
}

.submitButton{
    width:133px ;
    height: 31px;
    border-radius: 8px;
    font-family: Verdana;
    color: black;
    background-color: white;
    transition: all 2s ease;
}

.submitButton:hover{
    color: white;
    background-color: black;
}



