.div1{
    height: 300px;
    background-color: aqua;
    color: black;
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    border: 3px solid black;
}

.div2 {
    height: 300px;
    background-color: aqua;
    color: black;
    width: 50%;
}

.div3 {
    height: 300px;
    background-color: aqua;
    color: black;
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    border: 3px solid black;
    float: left;
}

.div4 {
    height: 300px;
    background-color: aqua;
    color: black;
    width: 50%;
    float: left;
}