.subHeading{
    font-size: 20px;
    color: green;
    padding: 15px;
}


.MyCard1{
    width: 300px;
    height: 500px;
    box-shadow: 4px 4px 4px black;
    padding: 30PX;
    background-color: #ddd;
    display: inline-block;
    margin-right: 15px;
}



.cardImage{
    width: 300px;
    height: 300px;
}


.card_title{
    text-align: center;
    font-size: 40PX;
    font-weight: bold;

}