/* Header Section Big start */

.headerSectionContainer{
    background-color: #FD6506;
}



.SearchDiv{
    margin-left: 132px;
}


.searchHeading{
    width: 600px;
   
    height: 50px;
   
    
}

.searchIcon{
    position: absolute;
    margin-top: 28px;
    margin-left: 995px;
}

.headerSectionSmallStart{
    display: none;
}




/* Header Section small start */



@media (min-width: 576px) and (max-width: 800px) {
    .headerSectionSmallStart{
        display: block;
    }
    .headerSectionBigStart{
        display: none;
    }

    .helpDiv{
        display: none;
    }

    .callDiv{
        display: none;
    }
}




/*Sub Header Section start */
.catagoriesList li ul li{
    float: none;
    width: 300px;
    position: relative;
    margin-bottom: 15px;
    z-index: 1500;
    

}

.catagoriesList li ul li a{
    text-decoration: none;
    font-size: 17px;
    color: black;
    padding: 15px;
    text-align: center;
   

}

.catagoriesList li ul li  :hover{
    
    display: block;
    color: white;
    background-color: #FD6506;
   

}

.catagoriesList li ul{
    list-style-type: none;
	padding: 20px;
	position: absolute;
	margin-left: -99999px;
	transition: 0.7s all ease;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    background-color: #FFFFFF;
}

.catagoriesList li ul:hover{
	background-color: #FFFFFF
}

.catagoriesList li:hover ul{
	margin-left: 0px;
}


@media (min-width: 576px) and (max-width: 800px) {
    .catagoriesList li ul li{
        float: none;
        width: 250px;
        position: relative;
        margin-bottom: 15px;
    
    }
}





/* upper Section Left Start */



.upperSectionleft{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    margin-left: 20px;
    margin-top: 5px;
}

.usecHeading{
    background-color: #FD6506;
    font-size: 18px;
    padding: 10px;
    border-radius:3% 3% 0% 0%;
    color: #FFFFFF;
    font-weight: bold;
}
.usecHeadingDiv{
    padding: 12px;
}

.cataIconUpperLeft{
    font-size: 25px;
    margin-left: 6px;
}


/* upperSectionRight Section start */

.srctionRightSlider{
    margin-left: 15px;
}

.uppersecSliderImg{
    height: 500px;
}

@media (min-width: 576px) and (max-width: 800px) {
    .uppersecSliderImg{
        height: 300px;
    }
}