@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

body{
    background-color: #02162B;
}


/* Heading part :start */

.headerBigStart{
    background-color: #00283A;
    border-radius: 2%;
    margin-top: -35px;
}

.menuContent{
    font-size: 17px;
    margin-left: 15px;
    margin-top: 14px;
}

.menuContentPart a{
    text-decoration: none;
    color: white;
}

.subHeadingTitle{
    position: absolute;
    margin-left: 176px;
    margin-top: -8px;
    font-size: 13px;
    font-style: italic;
}

.menuContentCv{
    margin-top: 5px;
    margin-left: 10px;
}

.headerSmallContainer{
    display: none;
}

@media (min-width: 300px) and (max-width: 575px){
    .headerBigContainer{
        display: none;
    }
    .headerSmallContainer{
        display: block;
    }
}


/* header small part start */
@media (min-width: 300px) and (max-width: 575px){
    .myTitleSmall{
        margin-top: 6px;
        margin-left: 4px;
    }

    .subHeadingTitleSmall{
        font-size: 12px;
        margin-left: 53px;
        margin-top: -7px;
    }
    .myOffencavSmall{
        box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    }
    .smallMenuList{
        color: black;
        font-weight: bold;
        display: flex;
        justify-content: center;
        font-size: 24px;
        font-family: 'Satisfy', cursive;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    }
    .smallMenuList:hover{
        background-color: green;
        color: white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
        font-size: 21px;
        padding: 6px;
        border-bottom: 2px solid black;
        border-top: 2px solid black;
    }
    
}




/*Section Start*/

.backImageUpper{
    margin-left: 70px;
    
}

.backImageUpperImg{
    border-radius: 2%;
}

@media (min-width: 300px) and (max-width: 575px){
    .backImageUpper{
        margin-left: 0px;
        
    }
    
    .backImageUpperImg{
        border-radius: 0%;
        height: 350px;
    }
}



/*Main Section Start*/

/*My intro part left Start*/
.myIntroLeftStart{
    background-color: #00283A;
    width: 330px;
    margin-top: -393px;
    margin-left: 200px;
    border-radius: 3%;
}

.myImage{
    margin-left: 95px;
    margin-top: 18px;
}
.myName{
    color: white;
    font-weight: bolder;
    font-size: 24px;
    margin-left: 93px;
}



/*Animation text*/

.animationTextDiv{
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00283A;
    margin-left: 10px;
    margin-top: -10px;
}

.wrapper{
    display: flex;
}

.wrapper .static_txt{
   color: #fff;
   font-size: 18px;
   font-weight: 400;

}

.wrapper .dynamic_txt{
    margin-left: -15px;
    line-height: 30px;
    height:30px;
    overflow: hidden;
    
    color: #fff;
}

.dynamic_txt li{
    list-style: none;
    color: white;
    font-size: 18px;
    font-weight: 100;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
    
}

@keyframes slide{
    100%{
        top: -120px;
    }
}

.dynamic_txt li {
    position: relative;
}

.dynamic_txt li ::after{
   content: "";
   position: absolute;
   left: 0;
   height: 100%;
   width: 100%;
   background-color:#00283A ;
   border-left: 2px solid red;
   animation: typing 3s steps(23) infinite;
   
}

@keyframes typing{
    40%,60%{
        left: calc(100% + 30px);
    }

    100%{
        left: 0;
    }
}


hr {
    border:none;
    border-top:2px dashed rgb(248, 244, 244);
    color:#fff;
    background-color:#00283A;
    height:1px;
    width:80%;
    margin-left: 30px;
  }