@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

body {
    background-color: #02162B;
}


/* Heading part :start */

.headerBigStart {
    background-color: #00283A;
    border-radius: 2%;
    margin-top: -35px;
}

.menuContent {
    font-size: 17px;
    margin-left: 15px;
    margin-top: 14px;
}

.menuContentPart a {
    text-decoration: none;
    color: white;
}

.subHeadingTitle {
    position: absolute;
    margin-left: 176px;
    margin-top: -8px;
    font-size: 13px;
    font-style: italic;
}

.menuContentCv {
    margin-top: 5px;
    margin-left: 10px;
}

.headerSmallContainer {
    display: none;
}

@media (min-width: 300px) and (max-width: 575px) {
    .headerBigContainer {
        display: none;
    }

    .headerSmallContainer {
        display: block;
    }
}


/* header small part start */
@media (min-width: 300px) and (max-width: 575px) {
    .myTitleSmall {
        margin-top: 6px;
        margin-left: 4px;
    }

    .subHeadingTitleSmall {
        font-size: 12px;
        margin-left: 53px;
        margin-top: -7px;
    }

    .myOffencavSmall {
        box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    }

    .smallMenuList {
        color: black;
        font-weight: bold;
        display: flex;
        justify-content: center;
        font-size: 24px;
        font-family: 'Satisfy', cursive;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    }

    .smallMenuList:hover {
        background-color: green;
        color: white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
        font-size: 21px;
        padding: 6px;
        border-bottom: 2px solid black;
        border-top: 2px solid black;
    }

}




/*Section Start*/

.backImageUpper {
    margin-left: 70px;

}

.backImageUpperImg {
    border-radius: 2%;
}

@media (min-width: 300px) and (max-width: 575px) {
    .backImageUpper {
        margin-left: 0px;

    }

    .backImageUpperImg {
        border-radius: 0%;
        height: 450px;
    }
}



/*Main Section Start*/

/*My intro part left Start*/
.myIntroLeftStart {
    background-color: #00283A;
    width: 330px;
    margin-top: -393px;
    margin-left: 200px;
    border-radius: 3%;
}

.myImage {
    margin-left: 95px;
    margin-top: 18px;
    border: 3px solid blue;
}

.myName {
    color: white;
    font-weight: bolder;
    font-size: 24px;
    margin-left: 93px;
}


.statusIcon {
    width: 22px;
    height: 22px;
    background-color: rgb(10, 247, 10);
    position: absolute;
    margin-left: 190px;
    margin-top: -81px;
}


@media (min-width: 300px) and (max-width: 575px) {
    .myIntroLeftStart {
        background-color: #00283A;
        width: 330px;
        margin-top: -148px;
        margin-left: 4px;

        border-radius: 3%;
    }

}


/*Animation text*/

.animationTextDiv {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00283A;
    margin-left: 10px;
    margin-top: -10px;
}

.wrapper {
    display: flex;
}

.wrapper .static_txt {
    color: #fff;
    font-size: 18px;
    font-weight: 400;

}

.wrapper .dynamic_txt {
    margin-left: -15px;
    line-height: 30px;
    height: 30px;
    overflow: hidden;

    color: #fff;
}

.dynamic_txt li {
    list-style: none;
    color: white;
    font-size: 18px;
    font-weight: 100;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;

}

@keyframes slide {
    100% {
        top: -120px;
    }
}

.dynamic_txt li {
    position: relative;
}

.dynamic_txt li ::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #00283A;
    border-left: 2px solid red;
    animation: typing 3s steps(23) infinite;

}

@keyframes typing {

    40%,
    60% {
        left: calc(100% + 30px);
    }

    100% {
        left: 0;
    }
}


hr {
    border: none;
    border-top: 2px dashed rgb(248, 244, 244);
    color: #fff;
    background-color: #00283A;
    height: 1px;
    width: 80%;
    margin-left: 30px;
}




/*socialIconDiv start*/


.socialIconDiv {
    margin: 12px 20px 10px 42px;
}

.socialIcon {
    margin-left: 19px;

}

.socialIcon a {
    color: #ddd;
}

.socialIcon a :hover {
    color: green;
    width: 30px;
    height: 30px;
}

.mailIconDiv {
    margin-top: -6px;
    margin-left: 7px;
}



/*AddressDiv*/

.AddressDiv {
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
}

.addressRight {
    font-weight: 100;
}

/*ContactbuttonDiv*/


.Contactbutton {
    margin-left: 85px;
    margin-bottom: 15px;
}

.contactMetext {
    padding: 20px;
    font-size: 17px;
}


/*Section right Upper Start*/

.SectionRightUpper {
    margin-left: 50px;
    margin-top: -360px;
    color: white;
}

.SectionRightUpperHeading1 {
    font-size: 30px;
    font-family: 'Lobster', cursive;
}

.SectionRightUpperHeading2 {
    font-size: 70px;
    font-family: 'Lobster', cursive;
    font-weight: 800;
}

.vidioResume {

    margin-left: 60px;
    margin-top: 20px;


}

.vidioResumeText {
    padding: 16px;

    font-weight: 800;
}

@media (min-width: 300px) and (max-width: 575px) {

    .SectionRightUpper {
        margin-left: 50px;
        margin-top: -820px;
        color: white;
    }

    .SectionRightUpperHeading1 {
        font-size: 30px;
        font-family: 'Lobster', cursive;
        margin-left: -15px;
    }

    .SectionRightUpperHeading2 {
        font-size: 40px;
        font-family: 'Lobster', cursive;
        font-weight: 800;
        margin-left: -18px;
    }

    .vidioResume {

        margin-left: 80px;
        margin-top: 20px;


    }



}

/*Work Count Section*/

.workCountSectionStart {
    color: #fff;
    /* line-height: 10px; */
    margin-left: 120px;
    margin-top: 30px;
}

.workCountDiv {
    background-color: #00283A;
    margin-right: 45px;
    border-radius: 3%;
}

.workCount {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 78px;
    margin-right: 30px;
    font-weight: 800;

}

.worKCountParaDiv {
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.worKCountPara {
    font-size: 16px;

}


@media (min-width: 300px) and (max-width: 575px) {

    .workCountSectionStart {
        color: #fff;
        /* line-height: 10px; */
        margin-left: 0px;
        margin-top: 600px;
    }

    .workCountDiv {
        background-color: #00283A;
        margin-right: 0px;
        border-radius: 3%;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        margin-bottom: 5px;
    }

    .workCountDiv2 {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }

    .workCount {
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 152px;
        margin-right: 30px;
        font-weight: 800;


    }

    .worKCountPara {
        font-size: 21px;

    }

    #workCountId1 {
        font-size: 29px;
    }

    #workCountId2 {
        font-size: 29px;
    }

    #workCountId3 {
        font-size: 29px;
    }





}




/* About section start */
.AllSectionHr {
    border: none;
    border-top: 2px dashed rgb(248, 244, 244);
    color: #fff;
    background-color: #00283A;
    height: 1px;
    width: 80%;
    margin-left: -15px;
    margin-top: 20px;

}

.aboutMeSectionContainer {
    margin-left: 60px;
    margin-top: 30px;
    opacity: 0;
    transform: scale(0.1);
    transition: all 1.5s ease-in-out;
}

.active {
    opacity: 1;
    transform: scale(1);
}

.IndexNumber {
    margin-left: -19px;
}

.AllSectionHeading {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Patua One', cursive;
}


.aboutSectionParaContainer {
    margin-top: 10px;
}

.aboutSectionParaDiv {
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: #00283A;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}

.aboutSectionPara {
    color: #fff;
    text-align: justify;
    font-size: 18px;
}