.logoImage{
    width: 190px;
    height: 40px;
}

.mainHeader{
    /* background-color: #6B5B95; */
    background-color: #131022;
    
}

#CourseSummary{
    display: none;
    font-family: 'Domine', serif;
font-family: 'Lobster', cursive;
font-family: 'Rokkitt', serif;   
}




.courseList{
    color: black;
    font-size: 15;
}

.courseList:hover{
    color: red;
    font-size: 20px;
}

.courseHeading{
    font-size: 25px;
    
    font-style: italic;
    color: #7362F9 ;
}
.nav{
    color: white;
    font-family: 'Domine', serif;
font-family: 'Lobster', cursive;
font-family: 'Rokkitt', serif;
    
}

.nav:hover{
    color:#6366F1;
}
.logo{
    margin-top: -3px;
}

.welcomeHeading{
    font-size: 29px;
    margin-top: 140px;
    font-family: 'Domine', serif;
font-family: 'Lobster', cursive;
font-family: 'Rokkitt', serif;
}

.mainParagraph{
    font-size: 70px;
    font-family: 'Domine', serif;
font-family: 'Lobster', cursive;
font-family: 'Rokkitt', serif;
}

.mainParagraph2{
    font-size: 30px;
    font-family: 'Domine', serif;
font-family: 'Lobster', cursive;
font-family: 'Rokkitt', serif;
}

.mainSectionContainer{
    margin-top: -16px;
    background-color: #201736;
    height: 650px;
}

.courseSearch{
    font-family: 'Domine', serif;
font-family: 'Lobster', cursive;
font-family: 'Rokkitt', serif;
}
/* 
.sectionStart{
    margin-left: 50px;
} */



.SubParagraph{
    font-size: 20px;
    font-family: 'Domine', serif;
font-family: 'Lobster', cursive;
font-family: 'Rokkitt', serif;
}

.lastImage{
    margin-left: -133px;
    z-index: 1500;
    margin-top: -87px;
}



/* .subSectionMain{
    margin-top: 95px;
    margin-left: 40px;
} */


.leftList{
    margin-top: 103px;
    margin-left: 49px;
    
}

.leftListItem{
    background-color: #131022;
    color: white;
}

.subSectionContainer{
    background-color: #131022;
    font-family: 'Domine', serif;
font-family: 'Lobster', cursive;
font-family: 'Rokkitt', serif;
}

.cardBody{
   background-color: #1F1C2D;
}

.myCard{
    border-radius: 2%;
    
}

.courseCard{
    margin-left: -28px;
}
.subSectionContainer2{
    background-color:#131022 ;
    height: auto;
    font-family: 'Domine', serif;
font-family: 'Lobster', cursive;
font-family: 'Rokkitt', serif;
    
}
.choosePara{
    margin-top: 5px;
    margin-left: 18px;
    color: white; 
}
.chooseParaHeading{
    margin-top: 240px;
    margin-left: 18px;
    color: white;  
}

.chooseHeading{
    color: white;
    font-size: 60px;
    margin-left: 539px;
    position: absolute;
    margin-top: 96px;
}
.chooseImage{
    margin-top: 181px;
    margin-left: 127px;
    width: 250px;
    height: 250px;
}
